<div class="row">

  <div class="col-sm-3">
    <div id="all-tags">
      <% @tags.each do |tag| %>
        <a href="/tags/<%= tag[:id] %>"><%= tag.name %></a>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">
    <div id="post">
      <h3><%= @post[:title] %></h3>
      <div id="tagline"><em><%= @post[:tagline] %></em></div>
      <img src="<%= @post[:image] %>">
      <div id="content"><%= @post[:content] %></div>
      <div id="author-tags">
        <p>Post by: <a href="#"><%= @post[:author] %></a></p>
        <p>
          Tags:
          <% @post.tags.each do |tag| %>
            <a href="/tags/<%= tag[:id] %>"><%= tag.name %></a>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-3"></div>

</div>